
  <!--*********************************************
    $FOOTER
  **********************************************-->
  <footer class="main-footer">

    <div class="main-footer-container">

      <section class="about">
        <header class="footer-title">Autoramen tinten of blinderen</header>
        <p class="about-para">De autoramen tinten of blinderen? We brengen folie aan de binnenzijde van het raam aan, waardoor er een mooie geblindeerde uitstraling ontstaat. De folie is verkrijgbaar in verschillende uitvoeringen, afhankelijk van de mate van lichtdoorlatendheid. Uiteraard kunnen we u voorlichten over de regelgeving omtrent het blinderen van de autoramen, zodat u netjes binnen de kaders van de wet blijft. <a id="home-text-button" href="javascript:;">Verder lezen…</a></p>
        <div id="home-text">
            
            <p>Blinderende folie op de autoramen heeft een aantal verschillende functies. Ten eerste zorgt het voor een stoere en sportieve uitstraling van de auto. Daarnaast vermindert u de mate van inkijk in de auto en helpt de folie UV-straling van de zon veel beter te weerkaatsen.</p>
            <p>Autoramen blinderen biedt een aantal belangrijke voordelen, vooral omdat we werken met hoogwaardige folie met diverse prettige eigenschappen. Het gaat bijvoorbeeld om hoogwaardige folie, waarop we standaard levenslang garantie bieden. Dat betekent dat u tijdens de rest van de gebruiksduur van de auto zonder zorgen gebruik kunt maken van de mooie folie op de autoruiten.</p>
            <p>We kunnen al autoramen tinten vanaf €169, zodat u daar standaard een scherpe prijs voor betaalt. We garanderen een kleurvaste folie, waardoor u geen last heeft van eventuele verkleuringen. Bovendien zorgt u er met de folie voor dat u tot 95% minder last heeft van het zonlicht, dankzij betere weerkaatsing. De folie zorgt er tegelijkertijd voor dat u 56% minder last heeft van warmte door de ruit, dankzij de energieweerkaatsing door de folie. Tenslotte beperkt de folie de inkijk in de auto, waardoor u veel minder last zal hebben van inbraak en diefstal.</p>
            <h2>Regelgeving autoramen tinten</h2>
            <p>Als we autoramen tinten doen we dat uiteraard netjes binnen de wettelijke normen zoals die zijn opgesteld door het Openbaar Ministerie. Het is bijvoorbeeld niet toegestaan om de voorruit met ieder willekeurig folie te tinten of blinderen, omdat dit de lichtinval en daarmee de veiligheid in het geding kan brengen. Hiervoor hebben wij de juiste tint in huis. Dit geld ook voor de zijruiten van de voorportieren.</p>
            <p>Het is wel toegestaan om de zijruiten van de achterportieren en de achterruit te tinten of blinderen zo donker als u wenst, op basis van de Europese richtlijn 92/22/EEG. </p>

        </div>

        <ul class="about-link-list">
          <li><a class="link-text" href="http://www.buitenbospc.nl/wrappen.html">Auto wrappen</a></li>
          <li><a class="link-text" href="http://www.buitenbospc.nl/">Auto poetsen</a></li>
          <li><a class="link-text" href="http://buitenbosautos.nl/" target="_blank">Apk keuring</a></li>
        </ul>
      </section>

      <figure class="workshop">
        <figcaption class="workshop-title footer-title">Bezoek onze werkplaats</figcaption>
        <img class="workshop-image" src="assets/images/overig-desktop/autoramen-tinten-blinderen13-crop.png" alt="werkplaats buite">
      </figure>

      <section class="social-container">
        <header class="social-title footer-title">Volg ons op social media</header>
        <div class="social-buttons-container">
          <a href="https://twitter.com/BuitenbosPC" class="social-button twitter" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.facebook.com/Buitenbospc/" class="social-button facebook" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/buitenbospc.nl/" class="social-button instagram" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </section>

      <p class="copyright">&copy;2017 Buitenbos Customs</p>

    </div>

  </footer><!-- END OF MAIN FOOTER -->