<div class="contact-review-container">
    <header class="contact-review-header">Klant recensies</header>
    <ul id="recensionSliderSide">
        <li>
            <div class="review">
            <header class="review-header">Frans Weinbeck uit Rijswijk:</header>
            <p class="review-text">“Ik heb nu van 3 auto’s de ruiten laten tinten en ik ben daar zeer tevreden over.
                Het is perfect gedaan en het was snel klaar. Ik voel me een tevreden klant bij Buitenbos
                Customs en daarom kan ik dit bedrijf aan iedereen aanraden!”</p>
            </div>
        </li>
        <li>
            <div class="review">
            <header class="review-header">Fahad ibn Mansour uit Zoetermeer:</header>
            <p class="review-text">“Ramen laten tinten: achterruit, twee zijruiten voor en achter. Tinten is erg goed en snel
                gedaan. Er is goed op maat gesneden en kwalitatieve folie gebruikt i.p.v. goedkoop spul.
                Met name de afwerking is erg goed, het lijkt nu fabriek-af”</p>
            </div>
        </li>
        <li>
            <div class="review">
                <header class="review-header">Stefan Hoek uit Katwijk:</header>
                <p class="review-text">“Zeer goed geholpen, nette prijzen en prijs informatie ook zeer duidelijk en snel antwoord op mijn vragen gehad”</p>
            </div>
        </li>
        <li>
            <div class="review">
                <header class="review-header">Laurette ketting uit katwijk:</header>
                <p class="review-text">“Ik heb mijn achterraam laten tinten en een grote schoonmaak laten doen door Buitenbos customs. Een echte aanrader! Snel klaar en weer een lekkere frisse auto! Bedankt mensen van Buitenbos Customs!” </p>
            </div>
        </li>
    </ul>
</div>