<main class="main-content">

    <section class="contact">

      <div class="contact-container">

        <div class="contact-text">
          <div class="contact-info">
            <h2 class="contact-info-header">Prijs indicatie</h2>
            <p>Hieronder een indicatie van de prijs voor de diensten die u wenst af te nemen. Op het moment dat u deze verder invult en verzend, krijgt u een bevestiging per mail en nemen wij binnen 1 werkdag contact met u op.</p>
            {{#if packet}}
            <ul class="appointment-pack-offer">
              <li><span class="text-regular-strong">Dienst: </span>Ramen tinten</li>
              <li><span class="text-regular-strong">Pakket: </span>{{packet.name}}</li>
              <li><span class="text-regular-strong">Prijs: </span>&euro; {{packet.price}},-</li>
            </ul>
            {{/if}}
          </div>
        </div>

        <form class="contact-form" method="post">
          <div class="contact-form-column-one">
            {{#if packet}}
                <input name="packet" value="{{packet.id}}" type="hidden" />
            {{/if}}
            <input name="name" class="contact-form-input" type="text" placeholder="* Naam" required autocomplete="name">
            <input name="email" class="contact-form-input" type="text" placeholder="* Email" required autocomplete="email">
            <input name="phone" class="contact-form-input" type="text" placeholder="* Tel. nummer" required autocomplete="tel">
            <input name="date" class="contact-form-input" type="text" placeholder="* Gewenste datum">
          </div>
          <div class="contact-form-column-two">
            <textarea class="contact-form-input" placeholder="* Bericht"></textarea>
            <input type="submit" class="button-accent" value="Verzend">
          </div>
        </form>

        <div class="contact-text">
          <div class="phone-info">
            <header class="phone-info-header">Heeft u een vraag?</header>
            <p>We zijn ieder werkdag bereikbaar van 08.00 tot 17.00 uur<br><span class="text-regular-strong">071- 2600 323</span></p>
          </div>
        </div>

      </div>

      {{!--<div class="contact-review-container">
        <header class="contact-review-header">Klant recentie’s</header>
        <p class="contact-review-text">“Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is”</p>
        <p class="contact-review-text">“Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is”</p>
      </div>--}}

      {{>recension-slider-side}}

    </section><!-- END OF CONTACT -->


    <section class="suppliers">
      <div class="suppliers-container">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/suntek.png" alt="logo suntek">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/3m.png" alt="logo 3m">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/hexis.png" alt="logo hexis">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/avery-dennison.png" alt="logo avery dennison">
      </div>
    </section><!-- END OF SUPPLIERS -->

  </main><!-- END OF MAIN CONTENT -->

{{>footer-normal}}