<main class="main-content">

    <section class="contact">

      <div class="contact-container">

        <div class="contact-text">
          <div class="contact-info">
            <h2 class="contact-info-header">Contact</h2>
            <p>Via dit contact formulier kunt u een vraag stellen aan Buitenbos Customs. U krijgt dan binnen 1 werkdag een reactie op uw bericht.</p>
          </div>
          <div class="phone-info">
            <header class="phone-info-header">Liever bellen?</header>
            <p>We zijn ieder werkdag bereikbaar van 08.00 tot 17.00 uur<br><span class="text-regular-strong">071- 2600 323</span></p>
          </div>
        </div>

        <form class="contact-form">
          <div class="contact-form-column-one">
            <input name="name" class="contact-form-input" type="text" placeholder="* Naam" required autocomplete="name">
            <input name="email" class="contact-form-input" type="text" placeholder="* Email" required autocomplete="email">
            <input name="phone" class="contact-form-input" type="text" placeholder="* Tel. nummer" required autocomplete="tel">
            <input class="contact-form-input" type="text" placeholder="* Gewenste datum">
          </div>
          <div class="contact-form-column-two">
            <textarea class="contact-form-input" placeholder="* Bericht"></textarea>
            <input type="submit" class="button-accent" value="Verzand">
          </div>
        </form>

      </div>

      <div class="contact-review-container">
        <header class="contact-review-header">Klant recentie’s</header>
        <p class="contact-review-text">“Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is”</p>
        <p class="contact-review-text">“Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is”</p>
      </div>

    </section><!-- END OF CONTACT -->


    <section class="suppliers">
      <div class="suppliers-container">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/suntek.png" alt="logo suntek">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/3m.png" alt="logo 3m">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/hexis.png" alt="logo hexis">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/avery-dennison.png" alt="logo avery dennison">
      </div>
    </section><!-- END OF SUPPLIERS -->

  </main><!-- END OF MAIN CONTENT -->

{{>footer-normal}}