  <!--*********************************************
    $MAIN CONTENT
  **********************************************-->
  <main class="main-content">

    <section class="contact">

      <div class="contact-container bedankt">

        <div class="contact-text">
          <div class="contact-info">
            <h2 class="contact-info-header">Bedankt voor uw verzoek!</h2>
            <p>Uw contact aanvraag is verstuurd. Wij zullen zo spoedig mogelijk contact met u opnemen.</p>
            <p class="standalone-info">Team Buitenbos Customs</p>
          </div>
          <div class="phone-info">
            <header class="phone-info-header">Heeft u een vraag?</header>
            <p>Wij zijn ieder werkdag bereikbaar van 08.00 tot 17.00 uur<br><span class="text-regular-strong">071- 2600 323</span></p>
          </div>
        </div>

      </div>

    </section><!-- END OF CONTACT -->


    <section class="suppliers">
      <div class="suppliers-container">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/suntek.png" alt="logo suntek">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/3m.png" alt="logo 3m">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/hexis.png" alt="logo hexis">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/avery-dennison.png" alt="logo avery dennison">
      </div>
    </section><!-- END OF SUPPLIERS -->

  </main><!-- END OF MAIN CONTENT -->

  {{>footer-normal}}