<!--*********************************************
    $MAIN CONTENT
  **********************************************-->
  <main class="main-content">

    <section class="offer">
      <img class="offer-image-desktop" src="assets/images/overig-desktop/autoramen-tinten-blinderen1.png" alt="car photo">
      <img class="offer-image-mobile" src="assets/images/overig-mobiel/autoramen-tinten-blinderen-14-01.png" alt="car photo">
      <div class="offer-text">
        <h2 class="offer-title">Het beste tintbedrijf voor uw autoramen!</h2>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i>Levenslange garantie, alleen bij ons!</li>
          <li><i class="fa fa-check" aria-hidden="true"></i>De goedkoopste uit de regio, al vanaf <span class="text-accent-strong">&euro; 169,-</span></li>
          <li><i class="fa fa-check" aria-hidden="true"></i>Klaar terwijl u wacht. (of een <span class="text-regular-strong">gratis</span> leenauto)</li>
        </ul>

        <a href="prijzen.html" class="button-accent home">Kies uw pakket</a>

      </div>
    </section><!-- END OF OFFER -->


    <section class="suppliers">
      <div class="suppliers-container">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/suntek.png" alt="logo suntek">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/3m.png" alt="logo 3m">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/hexis.png" alt="logo hexis">
        <img class="logo-supplier" src="assets/images/shared/logos-suppliers/avery-dennison.png" alt="logo avery dennison">
      </div>
    </section><!-- END OF SUPPLIERS -->


    <section class="showreal">

      <div class="reviews-container">

        <header class="showreal-header reviews-header">Klant recensies</header>

        <ul id="recensionSlider">
            <li>
                <div class="review">
                <header class="review-header">Frans Weinbeck uit Rijswijk:</header>
                <p class="review-text">“Ik heb nu van 3 auto’s de ruiten laten tinten en ik ben daar zeer tevreden over.
                    Het is perfect gedaan en het was snel klaar. Ik voel me een tevreden klant bij Buitenbos
                    Customs en daarom kan ik dit bedrijf aan iedereen aanraden!”</p>
                </div>
            </li>
            <li>
                <div class="review">
                <header class="review-header">Fahad ibn Mansour uit Zoetermeer:</header>
                <p class="review-text">“Ramen laten tinten: achterruit, twee zijruiten voor en achter. Tinten is erg goed en snel
                    gedaan. Er is goed op maat gesneden en kwalitatieve folie gebruikt i.p.v. goedkoop spul.
                    Met name de afwerking is erg goed, het lijkt nu fabriek-af”</p>
                </div>
            </li>
            <li>
                <div class="review">
                    <header class="review-header">Stefan Hoek uit Katwijk:</header>
                    <p class="review-text">“Zeer goed geholpen, nette prijzen en prijs informatie ook zeer duidelijk en snel antwoord op mijn vragen gehad”</p>
                </div>
            </li>
            <li>
                <div class="review">
                    <header class="review-header">Laurette ketting uit katwijk:</header>
                    <p class="review-text">“Ik heb mijn achterraam laten tinten en een grote schoonmaak laten doen door Buitenbos customs. Een echte aanrader! Snel klaar en weer een lekkere frisse auto! Bedankt mensen van Buitenbos Customs!” </p>
                </div>
            </li>
        </ul>
      </div>

      <figure class="slider-container">
          <figcaption class="showreal-header slider-header">Recent getint auto’s</figcaption>

          
            <ul id="lightSlider">
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen2.jpg" /></li>
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen3.jpg" /></li>
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen4.jpg" /></li>
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen5.jpg" /></li>
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen6.jpg" /></li>
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen7.jpg" /></li>
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen8.jpg" /></li>
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen9.jpg" /></li>
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen10.jpg" /></li>
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen11.jpg" /></li>
            <li><img src="assets/images/slider-desktop/Autoramen-tinten-blinderen12.jpg" /></li>
            </ul>
        <!--<figcaption class="showreal-header slider-header">Recent getint auto’s</figcaption>
        <img class="slider" src="assets/images/slider-desktop/autoramen-tinten blinderen2.png" alt="photo recent getint auto">-->
      </figure>

      <a href="prijzen.html" class="button-accent home">Kies uw pakket</a>

    </section><!-- END OF SHOWREAL -->

  </main><!-- END OF MAIN CONTENT -->

{{>footer-extra-text}}