<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link type="text/css" rel="stylesheet" href="assets/slider/css/lightslider.css" />                  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="shortcut icon" href="assets/images/shared/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	 <!--*********************************************
	    $HEADER
	  **********************************************-->
	  <header class="main-header">
	    <a class="logo-link" href="index.html">
	      <img class="logo" src="assets/images/shared/logo.png" alt="logo buitenbos">
	    </a>
	    <h1 class="company-strapline">Dé autoramen tinter</h1>
	    <div class="phone-contact">
	      <div class="phone-number-row">
	        <span class="phone-symbol"><i class="fa fa-phone" aria-hidden="true"></i></span>
	        <span class="phone-number">071-2600 323</span>
	      </div>
	      <div class="opening-hours"><p>Ieder werkdag van 08:00 tot 17:00</p></div>
	    </div>
	  </header><!-- END OF MAIN HEADER -->
	  <!--*********************************************
	    $NAVIGATION
	  **********************************************-->
	  <nav class="navigation">
	    <div class="navigation-container">
	      <div class="navigation-links">
	        <a href="index.html" class="navigation-link">Home</a>
	        <div class="divider"></div>
	        <a href="prijzen.html" class="navigation-link">Prijzen</a>
	        <div class="divider"></div>
	        <a href="contact.html" class="navigation-link">Contact</a>
	      </div>
	      <a href="tel:071-2600 323" class="call-button">
	        <i class="fa fa-phone" aria-hidden="true"></i>
	        <span class="call-text">Bel</span>
	      </a>
	    </div>
	  </nav><!-- END OF NAVIGATION -->
    {{{body}}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/slider/js/lightslider.js"></script>
  	<script src="assets/js/script.js"></script>
  </body>
</html>

