<main class="main-content">

      <section class="packages">

        <div class="packages-header-container">
          <span class="packages-header-guide">Kies hier de pakket die bij uw auto past</span>
          <span class="packages-header-description">Omschrijving</span>
        </div>

        <div class="packages-container">

          <div class="package-single">

            <p class="package-single-number text-accent-strong">1</p>

            <div class="package-single-cars">
              <img class="auto-back" src="assets/images/overig-desktop/pakket-1-2-desktop.png" alt="autoramen tinten pakket back">
              <img class="auto-side" src="assets/images/overig-desktop/pakket-1-desktop.png" alt="autoramen tinten pakket back">
            </div>

            <div class="package-selling-container">
              <div class="package-single-points">

                <div class="points-one">
                  <p><i class="fa fa-check"></i>1x achterruit</p>
                  <p><i class="fa fa-check"></i>2x zijruiten</p>
                </div>

                <div class="points-two">
                  <p><i class="fa fa-check"></i><span class="text-crossed">€ 174</span>,- <span class="text-accent-strong">€ 169,-</span></p>
                </div>

                <a href="afspraak.html?pakket=1" class="button-accent package">Maak nu een afspraak</a>

              </div>
            </div>

          </div>


          <div class="package-single">

            <p class="package-single-number text-accent-strong">2</p>

            <img class="best-seller-label desktop" src="assets/images/overig-desktop/meest-gekozen-desktop.png">
            <img class="best-seller-label mobile" src="assets/images/overig-desktop/meest-gekozen-mobile.png">

            <div class="package-single-cars">
              <img class="auto-back" src="assets/images/overig-desktop/pakket-1-2-desktop.png" alt="autoramen tinten pakket back">
              <img class="auto-side" src="assets/images/overig-desktop/pakket-2-desktop.png" alt="autoramen tinten pakket back">
            </div>

            <img class="arrow-left" src="assets/images/overig-desktop/arrow.png">

            <div class="package-selling-container">
              <div class="package-single-points">

                <div class="points-one">
                  <p><i class="fa fa-check"></i>1x achterruit</p>
                  <p><i class="fa fa-check"></i>2x kleine deurruit</p>
                </div>

                <div class="points-two">
                  <p><i class="fa fa-check"></i>2x grote deurruit</p>
                  <p><i class="fa fa-check"></i><span class="text-crossed">€ 255</span>,- <span class="text-accent-strong">€ 239,-</span></p>
                </div>

                <a href="afspraak.html?pakket=2" class="button-accent package">Maak nu een afspraak</a>

              </div>
            </div>

          </div>


          <div class="package-single">

            <p class="package-single-number text-accent-strong">3</p>

            <div class="package-single-cars">
              <img class="auto-back" src="assets/images/overig-desktop/pakket-3a-desktop.png" alt="autoramen tinten pakket back">
              <img class="auto-side" src="assets/images/overig-desktop/pakket-3-desktop.png" alt="autoramen tinten pakket back">
            </div>

            <div class="package-selling-container">
              <div class="package-single-points">

                <div class="points-one">
                  <p><i class="fa fa-check"></i>1x achterruit</p>
                  <p><i class="fa fa-check"></i>2x zijruiten</p>
                  <p><i class="fa fa-check"></i>2x kleine deurruit</p>
                </div>

                <div class="points-two">
                  <p><i class="fa fa-check"></i>2x grote deurruit</p>
                  <p><i class="fa fa-check"></i><span class="text-crossed">€ 335</span>,- <span class="text-accent-strong">€ 299,-</span></p>
                </div>

                <a href="afspraak.html?pakket=3" class="button-accent package">Maak nu een afspraak</a>

              </div>
            </div>

          </div>

        </div>

      </section><!-- END OF PACKAGES -->


      <section class="suppliers">
        <div class="suppliers-container">
          <img class="logo-supplier" src="assets/images/shared/logos-suppliers/suntek.png" alt="logo suntek">
          <img class="logo-supplier" src="assets/images/shared/logos-suppliers/3m.png" alt="logo 3m">
          <img class="logo-supplier" src="assets/images/shared/logos-suppliers/hexis.png" alt="logo hexis">
          <img class="logo-supplier" src="assets/images/shared/logos-suppliers/avery-dennison.png" alt="logo avery dennison">
        </div>
      </section><!-- END OF SUPPLIERS -->


      <section class="other-packages">

        <div class="other-packages-container">

          <table class="other-packages-table">
            <tr><th colspan="2">Overig tarieven</th></tr>
            <tr><td class="other-package-type">Voorste deurruit</td><td><span class="text-accent-strong">&euro; 49,-</span></td></tr>
            <tr><td class="other-package-type">Achterruit coupe of sedan</td><td><span class="text-accent-strong">&euro; 109,-</span></td></tr>
            <tr><td class="other-package-type">Bedrijfswagen?</td><td><a href="offerte.html" class="button-accent inside-table">Offerte aanvragen</a></td></tr>
          </table>

          <div class="other-packages-question">
            <h3 class="other-packages-title-question">Wat is toegestaan?</h3>
            <p class="other-packages-paragraph">De voorste deurruiten mogen getint worden, maar moet minimaal 75% licht door kunnen laten. Betreft de achterdeuren en achterruit zijn er geen eisen.</p>
          </div>

          <p class="other-packages-message"><span class="text-accent">Met ons folie assortiment blijft u altijd binnen de wettelijke normen!</span></p>

        </div>

        <img class="zicht-percentages-image-desktop" src="assets/images/overig-desktop/zicht-percentages-desktop.png" alt="autoramen tinter zicht percentages">

        <img class="zicht-percentages-image-mobile" src="assets/images/overig-mobiel/zicht-percentages-mobiel.png" alt="autoramen tinter zicht percentages">

      </section><!-- END OF PACKAGES -->

    </main><!-- END OF MAIN CONTENT -->

    {{>footer-extra-text}}