/*----------------------------------------------
  [TABLE OF CONTENTS]

  [SHARED STYLES]
    VARIABLES
    GENERAL
    HEADER
    NAVIGATION
    MAIN CONTENT
    FOOTER

  [SITE-SPECIFIC STYLES]
    HOME
----------------------------------------------*/





/*---------------------------------------------
  $VARIABLES
----------------------------------------------*/

:root {
  --content-width: 95%;
  --text-color-black: #636363;
  --color-background: #436475;
  --color-accent: #1eb62d;
}

@media (min-width: 1200px) {
  :root {
    --content-width: 65%;
  }
}

@media (min-width: 2000px) {
  :root {
    --content-width: 1200px;
  }
}





/*---------------------------------------------
  $GENERAL
----------------------------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
}





/*---------------------------------------------
  $HEADER
----------------------------------------------*/

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: var(--content-width);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .main-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.logo {
  width: 25%;
  height: auto;
}

@media (min-width: 768px) {
  .logo {
    width: auto;
    max-width: 200px;
  }
}

.company-strapline {
  margin-left: 0.5rem;
  color: var(--text-color-black);
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  line-height: 1.5rem;
}

@media (min-width: 360px) {
  .company-strapline {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .company-strapline {
    margin-left: 0rem;
    font-size: 2rem;
    font-weight: 400;
  }
}

.phone-contact {
  display: none;
}

@media (min-width: 768px) {
  .phone-contact {
    display: block;
    margin-left: auto;
  }
}

.phone-number-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
}

.phone-symbol {
  width: 2.2rem;
  height: auto;
}

.phone-number {
  font-size: 1.3rem;
}

.opening-hours {
  font-size: 0.8rem;
}




/*---------------------------------------------
  $NAVIGATION
----------------------------------------------*/

.navigation {
  width: 100%;
  background: var(--color-background);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 767px) {
  .navigation {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background: #fff;
    border-bottom: solid 5rem var(--color-background);
  }
}

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 767px) {
  .navigation-links {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.navigation-link {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 767px) {
  .navigation-link {
    color: var(--color-background);
    font-size: 2rem;
  }
}

.divider {
  height: 1rem;
  border-left: solid 1px #fff;
  border-right: 1px solid #8fa1ad;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 767px) {
  .divider {
    height: 2rem;
    border-left: solid 1px var(--color-background);
    border-right: 1px solid #8fa1ad;
  }
}





/*---------------------------------------------
  $MAIN CONTENT
----------------------------------------------*/

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.highlight-accent {
  color: var(--color-accent);
  font-weight: 700;
  white-space: nowrap;
}

.highlight-regular {
  font-weight: 700;
  white-space: nowrap;
}

.button-accent {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  border-radius: 3px;
  background: var(--color-accent);
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) {
  .button-accent {
    width: 300px;
    max-width: 75%;
    margin-left: 1.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .button-accent:hover {
    background: #2ec93b;
    -webkit-transition: background 100ms ease-in-out;
    transition: background 100ms ease-in-out;
  }
}

.button-accent:active {
  background: #1a9924;
  -webkit-transition: background 0ms ease-in-out;
  transition: background 0ms ease-in-out;
}

hr {
  border: 2rem solid var(--color-background);
  width: 100%;
}





/*---------------------------------------------
  $FOOTER
----------------------------------------------*/

.main-footer {
  background: var(--color-background);
  height: 20rem;
  width: 100%;
}





/*---------------------------------------------
  $HOME - OFFER
----------------------------------------------*/

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-color-black);
}

@media (min-width: 768px) {
  .offer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: var(--content-width);
    margin-bottom: 0rem;
  }
}

.offer-image-mobile {
  width: 100%;
  height: auto;
}

.offer-image-desktop {
  display: none
}

@media (min-width: 768px) {
  .offer-image-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .offer-image-desktop {
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 30%;
    height: 100%;
  }
}

.offer-text {
  width: var(--content-width);
}

@media (min-width: 768px) {
  .offer-text {
    width: 70%;
  }
}

.offer-title {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .offer-title {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.offer ul {
  list-style: none;
}

.offer li:before {
  content: '✓';
  margin-right: 0.3rem;
  color: var(--color-accent);
  font-size: 1.3rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  .offer li {
    font-size: 1.32rem;
  }
}





/*---------------------------------------------
  $HOME - SUPPLIERS
----------------------------------------------*/


.suppliers {
  width: 100%;
  height: 4rem;
  background: var(--color-background);
}

.suppliers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .suppliers-container {
    width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-supplier {
  height: 1.5rem;
  -webkit-filter: brightness(145%);
          filter: brightness(145%);
  opacity: 0.8;
}





/*---------------------------------------------
  $HOME - SHOWREAL
----------------------------------------------*/


.showreal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color-black);
}

@media (min-width: 768px) {
  .showreal {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: var(--content-width);
    height: 29rem;
  }
}

@media (min-width: 992px) {
  .showreal {
    height: 28rem;
  }
}

.reviews-container {
  width: var(--content-width);
}

@media (min-width: 768px) {
  .reviews-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
    height: 78%;
  }
}

@media (min-width: 768px) {
  .reviews-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: solid 1px tomato;
  }
}

.showreal-header {
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--color-accent);
  font-size: 1.4rem;
  font-weight: 600;
}

.review-header {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.review-text {
  font-style: italic;
}

.slider-container {
  width: 100%;
}

@media (min-width: 768px) {
  .slider-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 34%;
  }
}

.slider-header {
  margin-bottom: 2.5rem;
}

@media (max-width:767px) {
  .slider-header {
    margin-bottom: 1.5rem;
    width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
}

.slider {
  display: block;
  width: 100%;
  height: auto;
}

.showreal .button-accent {
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 767px) {
  .showreal .button-accent {
    width: var(--content-width);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
