/* Developemnt styles - delete for production */

main, .about {
/*   display: none!important; */
}

.border {
  border: solid 1px rgba(0,0,0,0.1);
}


/*----------------------------------------------
  [TABLE OF CONTENTS]

  [SHARED STYLES]
    GENERAL
    HEADER
    NAVIGATION
    MAIN CONTENT
    FOOTER

  [SITE-SPECIFIC STYLES]
    HOME
    CONTACT, OFFERTE, AFSPRAAK, BEDANKT
    PRIJZEN
----------------------------------------------*/





/*---------------------------------------------
  $GENERAL
----------------------------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

a, img {
    border: none;
    outline: none;
}

.link-text {
  color: #fff;
}

.link-text:hover {
  cursor: pointer;
}

.link-text:active {
  text-decoration: none;
}

textarea {
  resize: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}





/*---------------------------------------------
  $HEADER
----------------------------------------------*/

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 95%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

@media (min-width: 1200px) {
  .main-header {
    width: 83%;
  }
}

@media (min-width: 1400px) {
  .main-header {
    width: 70%;
  }
}

@media (min-width: 2000px) {
  .main-header {
    width: 1200px;
  }
}

.logo-link {
  width: 25%;
}

@media (min-width: 768px) {
  .logo-link {
    width: auto;
  }
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .logo {
    width: auto;
    max-width: 200px;
  }
}

.company-strapline {
  margin-left: 0.5rem;
  color: #636363;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  line-height: 1.5rem;
}

@media (min-width: 360px) {
  .company-strapline {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .company-strapline {
    margin-left: 0rem;
    font-size: 2rem;
    font-weight: 400;
  }
}

.phone-contact {
  display: none;
}

@media (min-width: 768px) {
  .phone-contact {
    display: block;
    width: 28%;
    margin-left: auto;
  }
}

.phone-number-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.15rem;
}

.phone-symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
  background: #1eb62d;
  color: #fff;
  border-radius: 50%;
}

.phone-symbol .fa-phone {
  font-size: 1.7rem;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.phone-number {
  font-size: 1.3rem;
}

.opening-hours {
  font-size: 0.75em;
}

@media (min-width: 992px) {
  .opening-hours {
    font-size: 1rem;
  }
}





/*---------------------------------------------
  $NAVIGATION
----------------------------------------------*/

.navigation {
  position: fixed;
  bottom: 0px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  background: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 999;
}

@media (min-width: 768px) {
  .navigation {
    position: static;
    bottom: auto;
    display: block;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    background: #436475;
  }
}

.navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  font-size: 1.1rem;
}

@media (min-width: 360px) {
  .navigation-container {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .navigation-container {
    font-size: 1rem;
    -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
            justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .navigation-container {
    width: 83%;
  }
}

@media (min-width: 1400px) {
  .navigation-container {
    width: 70%;
  }
}

@media (min-width: 2000px) {
  .navigation-container {
    width: 1200px;
  }
}

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

@media (min-width: 768px) {
  .navigation-links {
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.navigation-link {
  color: #436475;
}

@media (min-width: 768px) {
  .navigation-link {
    color: #fff;
    text-decoration: none;
  }
}

.divider {
  height: 2rem;
  border-left: solid 1px #436475;
  border-right: 1px solid #8fa1ad;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .divider {
    height: 1rem;
    border-left: solid 1px #fff;
  }
}

.call-button {
  margin-left: 0.5rem;
  padding-top: 0.45rem;
  padding-bottom: 0.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background: #1eb62d;
  color: #fff;
  border-radius: 1rem / 1.5rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  .call-button {
    display: none;
  }
}

.call-button .fa-phone {
  height: 100%;
  vertical-align: middle;
  font-size: 1.2em;
}

.call-text {
  height: 100%;
}





/*---------------------------------------------
  $MAIN CONTENT
----------------------------------------------*/

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 1rem;
}

.text-accent {
  color: #1eb62d;
}

.text-accent-strong {
  color: #1eb62d;
  font-weight: 700;
}

.text-regular-strong {
  font-weight: 700;
}

.text-crossed {
  text-decoration: line-through;
}

.button-accent {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #1eb62d;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) {
  .button-accent {
    margin-left: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
  }
}

/* No hover for touch devices to avoid
button stuck in hover state */
@media (min-width: 769px) {
  .button-accent:hover {
    background: #2ec93b;
    -webkit-transition: background 100ms ease-in-out;
    transition: background 100ms ease-in-out;
  }
}

.button-accent:active {
  background: #1a9924;
  -webkit-transition: background 0ms ease-in-out;
  transition: background 0ms ease-in-out;
}





/*---------------------------------------------
  $MAIN CONTENT - SUPPLIERS
----------------------------------------------*/


.suppliers {
  width: 100%;
  background: #436475;
}

.suppliers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

@media (min-width: 768px) {
  .suppliers-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .suppliers-container {
    width: 83%;
  }
}

@media (min-width: 1400px) {
  .suppliers-container {
    width: 70%;
  }
}

@media (min-width: 2000px) {
  .suppliers-container {
    width: 1200px;
  }
}

.logo-supplier {
  max-width: 22%;
  max-height: 1.5rem;
  height: auto;
  -webkit-filter: brightness(145%);
          filter: brightness(145%);
  opacity: 0.8;
}





/*---------------------------------------------
  $FOOTER
----------------------------------------------*/

.main-footer {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 5.5rem;
  background: #436475;
  color: #fff;
  font-weight: 300;
}

@media (min-width: 768px) {
  .main-footer {
    padding-bottom: 1rem;
  }
}

.main-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .main-footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .main-footer-container {
    width: 83%;
  }
}

@media (min-width: 1400px) {
  .main-footer-container {
    width: 70%;
  }
}

@media (min-width: 2000px) {
  .main-footer-container {
    width: 1200px;
  }
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer-address-container {
  width: 50%;
  list-style-type: none;
}

@media (min-width: 768px) {
  .footer-address-container {
    width: 28%;
  }
}

.footer-opening-hours-container {
  width: 50%;
}

@media (min-width: 768px) {
  .footer-opening-hours-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 28%;
  }
}

.footer-map-container {
  width: 100%;
  height: 20rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .footer-map-container {
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.location-map {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer-contact-header {
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .footer-contact-header {
    font-size: 1.2rem;
  }
}

.footer-address-container li:nth-child(3) {
  margin-bottom: 1rem;
}

.footer-address-container li:last-child {
  display: none;
}

@media (min-width: 768px) {
  .footer-address-container li:last-child {
    display: block;
  }
}

.footer-opening-hours-table {
  margin-left: auto;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
}

@media (min-width: 768px) {
  .footer-opening-hours-table {
    margin-left: 0;
    margin-right: auto;
  }
}

.footer-opening-hours-table th {
  padding-bottom: 1rem;
  text-align: left;
  font-weight: 700;
}

@media (min-width: 768px) {
  .footer-opening-hours-table th {
    font-size: 1.2rem;
  }
}

.day-name {
  padding-right: 0.5rem;
}

.full-day {
  display: none;
}

@media (min-width: 768px) {
  .full-day {
    display: inline-block;
  }
}

.social-container {
  width: 100%;
}

@media (min-width: 768px) {
  .social-title {
    display: none;
  }
}

.social-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .social-buttons-container {
    margin-top: 1rem;
  }
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  -webkit-transition: -webkit-filter 100ms ease-in-out;
  transition: -webkit-filter 100ms ease-in-out;
  transition: filter 100ms ease-in-out;
  transition: filter 100ms ease-in-out, -webkit-filter 100ms ease-in-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

/* No hover for touch devices to avoid
button stuck in hover state */
@media (min-width: 769px) {
  .social-button:hover {
    -webkit-filter: brightness(110%);
            filter: brightness(110%);
    -webkit-transition: -webkit-filter 100ms ease-in-out;
    transition: -webkit-filter 100ms ease-in-out;
    transition: filter 100ms ease-in-out;
    transition: filter 100ms ease-in-out, -webkit-filter 100ms ease-in-out;
  }
}

.social-button:active {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  -webkit-transition: -webkit-filter 0ms ease-in-out;
  transition: -webkit-filter 0ms ease-in-out;
  transition: filter 0ms ease-in-out;
  transition: filter 0ms ease-in-out, -webkit-filter 0ms ease-in-out;
}

.twitter {
  background-color: #58bceb;
}

.facebook {
  background-color: #6781bf;
}

.instagram {
  background-color: #8d4c26;
}

.copyright {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
}





/*---------------------------------------------
  $HOME - OFFER
----------------------------------------------*/

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #636363;
}

@media (min-width: 768px) {
  .offer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .offer {
    width: 83%;
  }
}

@media (min-width: 1400px) {
  .offer {
    width: 70%;
  }
}

@media (min-width: 2000px) {
  .offer {
    width: 1200px;
  }
}

.offer-image-mobile {
  width: 100%;
  height: auto;
}

.offer-image-desktop {
  display: none
}

@media (min-width: 768px) {
  .offer-image-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .offer-image-desktop {
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: end;
             align-self: flex-end;
    width: 38%;
    height: auto;
  }
}

.offer-text {
  width: 95%;
}

@media (min-width: 768px) {
  .offer-text {
    width: 62%;
  }
}

@media (min-width: 1200px) {
  .offer-text {
    width: 83%;
  }
}

@media (min-width: 1400px) {
  .offer-text {
    width: 70%;
  }
}

@media (min-width: 2000px) {
  .offer-text {
    width: 1200px;
  }
}

.offer-title {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 400px) {
  .offer-title {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .offer-title {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.offer ul {
  list-style: none;
}

.offer .fa-check {
  margin-right: 0.3rem;
  color: #1eb62d;
  font-size: 1.6rem;
  font-weight: 800;
}

.offer li {
  font-size: 0.9rem;
}

@media (min-width: 400px) {
  .offer li {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .offer li {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .button-accent.home {
    width: 300px;
    max-width: 75%;
  }
}





/*---------------------------------------------
  $HOME - SHOWREAL
----------------------------------------------*/


.showreal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #636363;
}

@media (min-width: 768px) {
  .showreal {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
    height: 29rem;
  }
}

@media (min-width: 992px) {
  .showreal {
    height: 28rem;
  }
}

@media (min-width: 1200px) {
  .showreal {
    height: 27rem;
    width: 83%;
  }
}

@media (min-width: 1400px) {
  .showreal {
    height: 26rem;
    width: 70%;
  }
}

@media (min-width: 2000px) {
  .showreal {
    width: 1200px;
  }
}

.reviews-container {
  width: 95%;
}

@media (min-width: 768px) {
  .reviews-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 60%;
  }
}

.showreal-header {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #1eb62d;
  font-size: 1.4rem;
  font-weight: 600;
}

.review-header {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.review:nth-child(n+3) .review-header {
  margin-top: 1rem;
}

.review-text {
  font-style: italic;
}

.slider-container {
  width: 100%;
}

@media (min-width: 768px) {
  .slider-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 34%;
  }
}

.slider-header {
  margin-bottom: 1.5rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .slider-header {
    width: 100%;
    margin-bottom: 1.8rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.slider {
  display: block;
  width: 100%;
  height: auto;
}

.showreal .button-accent {
  width: 95%;
}

@media (min-width: 768px) {
  .showreal .button-accent {
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
  }
}





/*---------------------------------------------
  $HOME FOOTER
----------------------------------------------*/

@media (min-width: 768px) {
  .about {
    width: 60%;
  }
}

.about-link-list {
    display: none;
}

@media (min-width: 768px) {
  .about-link-list {
    display: block;
    margin-top: 0.5rem;
    list-style: none;
  }
}

.footer-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.workshop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .workshop {
    width: 34%;
  }
}

.workshop-title {
  width: 100%;
}

.workshop-image {
  width: 100%;
  height: auto;
}





/*---------------------------------------------
  $CONTACT, $OFFERTE, $AFSPRAAK - CONTACT FORM
  $BEDANKT
----------------------------------------------*/

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #636363;
}

@media (min-width: 768px) {
  .contact {
    width: 95%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .contact {
    width: 83%;
  }
}

@media (min-width: 1400px) {
  .contact {
    width: 70%;
  }
}

@media (min-width: 2000px) {
  .contact {
    width: 1200px;
  }
}

.contact-container {
  width: 95%;
}

@media (min-width: 768px) {
  .contact-container {
    width: 68%;
  }
}

@media (min-width: 768px) {
  .contact-container.offerte {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 72%;
  }
}

@media (min-width: 768px) {
  .contact-container.bedankt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.contact-info,
.phone-info {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .contact-info {
    margin-bottom: 1.5rem;
  }
}

.contact-info-header,
.phone-info-header,
.contact-review-header {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.appointment-pack-offer {
  margin-top: 0.6rem;
  list-style-type: none;
}

.standalone-info {
  margin-top: 0.8rem;
}

.phone-info-header {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.phone-info {
  display: none;
}

@media (min-width: 768px) {
  .phone-info {
    display: block;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact-form-column-one,
.contact-form-column-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .contact-form-column-one {
    width: 35%;
  }
}

@media (min-width: 768px) {
  .contact-form-column-two {
    width: 60%;
  }
}

.contact-form-input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: #f2f2f2;
  color: #636363;
  font-family: Arial;
  font-size: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.contact-form-input:focus {
  box-shadow: 0 0 5px #436475;
  border: 1px solid #436475;
}

@media (min-width: 768px) {
  .contact-form-input {
    margin-top: 1rem;
    background: #fff;
  }
}

input.contact-form-input {
  height: 3rem;
}

@media (min-width: 768px) {
  input.contact-form-input {
    height: 2.7rem;
  }
}

textarea.contact-form-input {
  height: 8rem;
  font-family: Arial;
  font-size: 1rem;
}

@media (min-width: 768px) {
  textarea.contact-form-input {
    height: 10.1rem
  }
}

@media (min-width: 768px) {
  .contact-form .button-accent {
    margin-left: 0;
    margin-top: 1rem;
    width: auto;
    height: 2.7rem;
    padding: 0rem 1.5rem;
  }
}

.contact-review-container {
  display: none;
}

@media (min-width: 768px) {
  .contact-review-container {
    display: block;
    width: 28%;
  }
}

.contact-review-header {
  font-size: 1.4rem;
}

.contact-review-text {
  margin-bottom: 0.8rem;
}





/*---------------------------------------------
  $PRIJZEN
----------------------------------------------*/

.packages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  padding-bottom: 1rem;
  color: #636363;
}

@media (min-width: 768px) {
  .packages {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .packages {
    width: 83%;
  }
}

@media (min-width: 1400px) {
  .packages {
    width: 70%;
  }
}

@media (min-width: 2000px) {
  .packages {
    width: 1200px;
  }
}

.packages-header-container {
  width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .packages-header-container {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .packages-header-guide {
    display: inline-block;
    width: 65.3%;
  }
}

.packages-header-description {
  display: none;
}

@media (min-width: 768px) {
  .packages-header-description  {
    width: 27%;
    display: inline-block;
  }
}

.packages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.package-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 1rem;
}

@media (min-width: 768px) {
  .package-single {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.package-single:nth-child(odd) {
  background: #f2f2f2;
  border: solid 1px #e6e6e6;
}

.package-single:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.package-single:last-child {
  margin-top: -0.4rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

}

.package-single:nth-child(2) {
  margin-top: -0.4rem;
  position: relative;
  width: 103%;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background: #436475;
  color: #fff;
  border: solid 1px #e6e6e6;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .package-single:nth-child(2) {
    padding-left: 2rem;
    padding-right: 2rem;
    background-image:
        -webkit-linear-gradient(
          left,
          #fff,
          #fff 68%,
          #436475 68%
        );
    background-image:
        linear-gradient(
          to right,
          #fff,
          #fff 68%,
          #436475 68%
        );
  }
}

.arrow-left {
  display: none;
}

@media (min-width: 768px) {
  .arrow-left {
    display: block;
    position: absolute;
    top: 0;
    left: 55%;
    width: 18%;
    height: 100%;
    z-index: 1;
  }
}

.best-seller-label.desktop {
  display: none;
}

@media (min-width: 768px) {
  .best-seller-label.desktop {
    position: absolute;
    display: block;
    height: 72%;
    width: auto;
    left: 0%;
    top: 0%;
  }
}

.best-seller-label.mobile {
  position: absolute;
  height: 38%;
  width: auto;
  left: 100%;
  top: 0%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media (min-width: 768px) {
  .best-seller-label.mobile {
    display: none;
  }
}

.package-single-number {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.package-single-cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 9;
}

@media (min-width: 768px) {
  .package-single-cars {
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1.1rem;
  }
}

.auto-back {
  max-width: 30.5%;
  max-height: 6rem;
  height: auto;
}

.auto-side {
  max-width: 61.2%;
  max-height: 6rem;
  height: auto;
}

@media (min-width: 768px) {
  .auto-back {
    max-height: 7rem;
  }
}

@media (min-width: 768px) {
  .auto-side {
    max-height: 7rem;
  }
}

.package-single:nth-child(3) .auto-back {
  max-width: 29.5%;
}

.package-single:nth-child(3) .auto-side {
  max-width: 67.8%;
}

.package-selling-container {
  width: 100%;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .package-selling-container {
    width: 33%;
    margin-top: 0rem;
    z-index: 99;
  }
}

.package-single-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0rem auto;
  font-size: 0.8rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .package-single-points {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 1.1rem;
    font-weight: 400;
  }
}

.points-one,
.points-two {
  width: 50%;
}

@media (min-width: 768px) {
  .points-one,
  .points-two {
    width: 100%;
  }
}

.package-single-points .fa-check {
  margin-right: 0.3rem;
  color: #1eb62d;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .package-single-points .fa-check {
    font-size: 1.6rem;
  }
}

.button-accent.package {
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .button-accent.package {
    width: 70%;
  }
}

@media (min-width: 1400px) {
  .button-accent.package {
    width: 65%;
  }
}

.other-packages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  color: #636363;
}

@media (min-width: 768px) {
  .other-packages {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .other-packages {
    width: 83%;
  }
}

@media (min-width: 1400px) {
  .other-packages {
    width: 70%;
  }
}

@media (min-width: 2000px) {
  .other-packages {
    width: 1200px;
  }
}

.other-packages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
}

@media (min-width: 768px) {
  .other-packages-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.other-packages-table {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
}

@media (min-width: 768px) {
  .other-packages-table {
    width: 48%;
    margin-bottom: 0rem;
  }
}

.other-packages-table th {
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 700;
}

.other-packages-table tr {
  height: 2rem;
}

.other-package-type {
  padding-right: 1rem;
}

.button-accent.inside-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 2rem;
  padding: 0 0.3rem;
  font-size: 0.7rem;
}

@media (min-width: 400px) {
  .button-accent.inside-table {
    padding: 0 1rem;
    font-size: 1rem;
  }
}

.other-packages-question {
  width: 100%;
}

@media (min-width: 768px) {
  .other-packages-question {
    width: 48%;
  }
}

.other-packages-title-question {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.other-packages-paragraph {
  margin-bottom: 0.5rem;
}

.other-packages-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}


.zicht-percentages-image-desktop {
  display: none;
}

@media (min-width: 768px) {
  .zicht-percentages-image-desktop {
    display: block;
    width: 100%;
    height: auto;
  }
}

.zicht-percentages-image-mobile {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .zicht-percentages-image-mobile {
    display: none;
  }
}
