/* Developemnt styles - delete for production */ 

main, .about {
/*   display: none!important; */
}

.border {
  border: solid 1px rgba(0,0,0,0.1);
}

/* ------------------------------------------ */ 




/*----------------------------------------------
  [TABLE OF CONTENTS]

  [SHARED STYLES]
    VARIABLES
    GENERAL
    HEADER
    NAVIGATION
    MAIN CONTENT
    FOOTER

  [SITE-SPECIFIC STYLES]
    HOME
    CONTACT, OFFERTE, AFSPRAAK, BEDANKT
    PRIJZEN
----------------------------------------------*/





/*---------------------------------------------
  $VARIABLES
----------------------------------------------*/

:root {
  --content-width: 95%;
  --text-color-black: #636363;
  --color-background: #436475;
  --color-accent: #1eb62d;
}

@media (min-width: 1200px) {
  :root {
    --content-width: 83%;
  }
}

@media (min-width: 1400px) {
  :root {
    --content-width: 70%;
  }
}

@media (min-width: 2000px) {
  :root {
    --content-width: 1200px;
  }
}





/*---------------------------------------------
  $GENERAL
----------------------------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

textarea {
  resize: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}





/*---------------------------------------------
  $HEADER
----------------------------------------------*/

.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: var(--content-width);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.logo-link {
  width: 25%;
}

@media (min-width: 768px) {
  .logo-link {
    width: auto;
  }
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .logo {
    width: auto;
    max-width: 200px;
  }
}

.company-strapline {
  margin-left: 0.5rem;
  color: var(--text-color-black);
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  line-height: 1.5rem;
}

@media (min-width: 360px) {
  .company-strapline {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .company-strapline {
    margin-left: 0rem;
    font-size: 2rem;
    font-weight: 400;
  }
}

.phone-contact {
  display: none;
}

@media (min-width: 768px) {
  .phone-contact {
    display: block;
    width: 28%;
    margin-left: auto;
  }
}

.phone-number-row {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin-bottom: 0.15rem;
}

.phone-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
  background: var(--color-accent);
  color: #fff;
  border-radius: 50%;
}

.phone-symbol .fa-phone {
  font-size: 1.7rem;
  transform: translateY(5%);
}

.phone-number {
  font-size: 1.3rem;
}

.opening-hours {
  font-size: 0.75em;
}

@media (min-width: 992px) {
  .opening-hours {
    font-size: 1rem;
  }
}





/*---------------------------------------------
  $NAVIGATION
----------------------------------------------*/

.navigation {
  order: 1;
  width: 100%;
  background: #fff;
  border-bottom: solid 5rem var(--color-background);
  user-select: none;
}

@media (min-width: 768px) {
  .navigation {
    display: block;
    order: 0;
    background: var(--color-background);
    border-bottom: 0;
  }
}

.navigation-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: var(--content-width);
  font-size: 1.1rem;
}

@media (min-width: 360px) {
  .navigation-container {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .navigation-container {
    font-size: 1rem;
  }
}

.navigation-links {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .navigation-links {
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.navigation-link {
  color: var(--color-background);
}

@media (min-width: 768px) {
  .navigation-link {
    color: #fff;
    text-decoration: none;
  }
}

.divider {
  height: 2rem;
  border-left: solid 1px var(--color-background);
  border-right: 1px solid #8fa1ad;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .divider {
    height: 1rem;
    border-left: solid 1px #fff;
  }
}

.call-button {
  margin-left: 0.5rem;
  padding: 0.2rem 0.7rem;
  background: var(--color-accent);
  color: #fff;
  border-radius: 1rem / 1.5rem;
}

@media (min-width: 768px) {
  .call-button {
    display: none;
  }
}

.call-button .fa-phone {
  height: 100%;
  vertical-align: middle;
  font-size: 1.2em;
}

.call-text {
  height: 100%;
}





/*---------------------------------------------
  $MAIN CONTENT
----------------------------------------------*/

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}

.text-accent {
  color: var(--color-accent);
}

.text-accent-strong {
  color: var(--color-accent);
  font-weight: 700;
}

.text-regular-strong {
  font-weight: 700;
}

.button-accent {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background: var(--color-accent);
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) {
  .button-accent {
    width: 300px;
    max-width: 75%;
    margin-left: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
  }
}

/* No hover for touch devices to avoid 
button stuck in hover state */
@media (min-width: 769px) {
  .button-accent:hover {
    background: #2ec93b;
    transition: background 100ms ease-in-out;
  }
}

.button-accent:active {
  background: #1a9924;
  transition: background 0ms ease-in-out;
}





/*---------------------------------------------
  $MAIN CONTENT - SUPPLIERS
----------------------------------------------*/


.suppliers {
  width: 100%;
  background: var(--color-background);
}

.suppliers-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

@media (min-width: 768px) {
  .suppliers-container {
    width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-supplier {
  max-width: 22%;
  max-height: 1.5rem;
  height: auto;
  filter: brightness(145%);
  opacity: 0.8;
}





/*---------------------------------------------
  $FOOTER
----------------------------------------------*/

.main-footer {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--color-background);
  color: #fff;
  font-weight: 300;
}

.main-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .main-footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-address-container {
  width: 50%;
  list-style-type: none;
}

@media (min-width: 768px) {
  .footer-address-container {
    width: 28%;
  }
}

.footer-opening-hours-container {
  width: 50%;
}

@media (min-width: 768px) {
  .footer-opening-hours-container {
    order: 1;
    width: 28%;
  }
}

.footer-map-container {
  width: 100%;
  height: 20rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .footer-map-container {
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.location-map {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer-contact-header {
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .footer-contact-header {
    font-size: 1.2rem;
  }
}

.footer-address-container li:nth-child(3) {
  margin-bottom: 1rem;
}

.footer-address-container li:last-child {
  display: none;
}

@media (min-width: 768px) {
  .footer-address-container li:last-child {
    display: block;
  }
}

.footer-opening-hours-table {
  margin-left: auto;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
}

@media (min-width: 768px) {
  .footer-opening-hours-table {
    margin-left: 0;
    margin-right: auto;
  }
}

.footer-opening-hours-table th {
  padding-bottom: 1rem;
  text-align: left;
  font-weight: 700;
}

@media (min-width: 768px) {
  .footer-opening-hours-table th {
    font-size: 1.2rem;
  }
}

.day-name {
  padding-right: 0.5rem;
}

.full-day {
  display: none;
}

@media (min-width: 768px) {
  .full-day {
    display: inline-block;
  }
}

.social-container {
  width: 100%;
}

@media (min-width: 768px) {
  .social-title {
    display: none;
  }
}

.social-buttons-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .social-buttons-container {
    margin-top: 1rem;
  }
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: filter 100ms ease-in-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

/* No hover for touch devices to avoid 
button stuck in hover state */
@media (min-width: 769px) {
  .social-button:hover {
    filter: brightness(110%);
    transition: filter 100ms ease-in-out;
  }
}

.social-button:active {
  filter: brightness(85%);
  transition: filter 0ms ease-in-out;
}

.twitter {
  background-color: #58bceb;
}

.facebook {
  background-color: #6781bf;
}

.instagram {
  background-color: #8d4c26;
}

.copyright {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
}





/*---------------------------------------------
  $HOME - OFFER
----------------------------------------------*/

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color-black);
}

@media (min-width: 768px) {
  .offer {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: var(--content-width);
  }
}

.offer-image-mobile {
  width: 100%;
  height: auto;
}

.offer-image-desktop {
  display: none
}

@media (min-width: 768px) {
  .offer-image-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .offer-image-desktop {
    display: block;
    order: 1;
    width: 38%;
    height: 100%;
  }
}

.offer-text {
  width: var(--content-width);
}

@media (min-width: 768px) {
  .offer-text {
    width: 62%;
  }
}

.offer-title {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .offer-title {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.offer ul {
  list-style: none;
}

.offer li:before {
  content: '✓';
  margin-right: 0.3rem;
  color: var(--color-accent);
  font-size: 1.3rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  .offer li {
    font-size: 1.32rem;
  }
}





/*---------------------------------------------
  $HOME - SHOWREAL
----------------------------------------------*/


.showreal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: var(--text-color-black);
}

@media (min-width: 768px) {
  .showreal {
    align-content: space-between;
    justify-content: space-between;
    width: var(--content-width);
    height: 29rem;
  }
}

@media (min-width: 992px) {
  .showreal {
    height: 28rem;
  }
}

@media (min-width: 1200px) {
  .showreal {
    height: 27rem;
  }
}

@media (min-width: 1400px) {
  .showreal {
    height: 26rem;
  }
}

.reviews-container {
  width: var(--content-width);
}

@media (min-width: 768px) {
  .reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    /*height: 78%;*/
  }
}

.showreal-header {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--color-accent);
  font-size: 1.4rem;
  font-weight: 600;
}

.review-header {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.review:nth-child(n+3) .review-header {
  margin-top: 1rem;
}

.review-text {
  font-style: italic;
}

.slider-container {
  width: 100%;
}

@media (min-width: 768px) {
  .slider-container {
    order: 1;
    width: 34%;
  }
}

.slider-header {
  margin-bottom: 1.5rem;
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:768px) {
  .slider-header {
    width: 100%;
    margin-bottom: 1.8rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.slider {
  display: block;
  width: 100%;
  height: auto;
}

.showreal .button-accent {
  width: var(--content-width);
}

@media (min-width: 768px) {
  .showreal .button-accent {
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
  }
}






/*---------------------------------------------
  $HOME FOOTER
----------------------------------------------*/

@media (min-width: 768px) {
  .about {
    width: 60%;
  }
}

.about-para-list {
    display: none;
}

@media (min-width: 768px) {
  .about-para-list {
    display: block;
    margin-top: 0.5rem;
    list-style: none;
  }
}

.footer-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.workshop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .workshop {
    width: 34%;
  }
}

.workshop-title {
  width: 100%;
}

.workshop-image {
  width: 100%;
  height: auto;
}





/*---------------------------------------------
  $CONTACT, $OFFERTE, $AFSPRAAK - CONTACT FORM
  $BEDANKT
----------------------------------------------*/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color-black);
}

@media (min-width: 768px) {
  .contact {
    width: var(--content-width);
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.contact-container {
  width: var(--content-width);
}

@media (min-width: 768px) {
  .contact-container {
    width: 68%;
  }
}

@media (min-width: 768px) {
  .contact-container.offerte {
    flex-wrap: wrap;
    width: 72%;
  }
}

@media (min-width: 768px) {
  .contact-container.bedankt {
    flex-wrap: wrap;
    width: 100%;
  }
}

.contact-info,
.phone-info {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .contact-info {
    margin-bottom: 1.5rem;
  }
}

.contact-info-header,
.phone-info-header,
.contact-review-header {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.appointment-pack-offer {
  margin-top: 0.6rem;
  list-style-type: none;
}

.standalone-info {
  margin-top: 0.8rem;
}

.phone-info-header {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.phone-info {
  display: none;
}

@media (min-width: 768px) {
  .phone-info {
    display: block;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .contact-form {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.contact-form-column-one,
.contact-form-column-two {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .contact-form-column-one {
    width: 35%;
  }
}

@media (min-width: 768px) {
  .contact-form-column-two {
    width: 60%;
  }
}

.contact-form-input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: #f2f2f2;
  color: var(--text-color-black);
  font-family: Arial;
  font-size: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  outline: none;
  transition: all 200ms ease-in-out;
}

.contact-form-input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

@media (min-width: 768px) {
  .contact-form-input {
    margin-top: 1rem;
    background: #fff;
  }
}

input.contact-form-input {
  height: 3rem;
}

@media (min-width: 768px) {
  input.contact-form-input {
    height: 2.7rem;
  }
}

textarea.contact-form-input {
  height: 8rem;
  font-family: Arial;
  font-size: 1rem;
}

@media (min-width: 768px) {
  textarea.contact-form-input {
    height: 10.1rem
  }
}

@media (min-width: 768px) {
  .contact-form .button-accent {
    margin-left: 0;
    margin-top: 1rem;
    width: auto;
    height: 2.7rem;
    padding: 0rem 1.5rem;
  }
}

.contact-review-container {
  display: none;
}

@media (min-width: 768px) {
  .contact-review-container {
    display: block;
    width: 28%;
  }
}

.contact-review-header {
  font-size: 1.4rem;
}

.contact-review-text {
  margin-bottom: 0.8rem;
}





/*---------------------------------------------
  $PRIJZEN
----------------------------------------------*/

.packages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--content-width);
  color: var(--text-color-black);
}

@media (min-width: 768px) {
  .packages {
    width: var(--content-width);
  }
}

.packages-container {
  width: 100%;
}

@media (min-width: 768px) {
  .packages-container {
    /*width: 100%;*/
  }
}

.other-packages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  color: var(--text-color-black);
}

@media (min-width: 768px) {
  .other-packages {
    width: var(--content-width);
  }
}

.other-packages-container {
  width: var(--content-width);
}

@media (min-width: 768px) {
  .other-packages-container {
    width: 100%;
  }
}

.other-packages-table {
  margin-bottom: 1.5rem;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
}

.other-packages-table th {
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 700;
}

.other-packages-table tr {
  height: 2rem;
}

.other-package-type {
  padding-right: 1rem;
}

.button-accent.inside-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 2rem;
  padding: 0 0.3rem;
  font-size: 0.7rem;
}

@media (min-width: 400px) {
  .button-accent.inside-table {
    padding: 0 1rem;
    font-size: 1rem;
  }
}

.other-packages-title-question {
  margin-bottom: 0.5rem;
}

.other-packages-paragraph {
  margin-bottom: 0.5rem;
}

.zicht-percentages-image {
  width: 100%;
  height: auto;
}
